In [72]:
import pickle

import pandas as pd
import numpy as np
from data_transformer import DataTransformer, Timestamp

from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
!conda install matplotlib

Collecting package metadata: done
Solving environment: |

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [3]:
with open('preprocessed.pkl', 'rb') as f:
    dataset = pickle.load(f)

dataset

In [18]:
indices = dataset.filter_fire_idx(30)

t1 = np.take(dataset.get_obs_input_data(Timestamp.n0hrs), indices, axis=0)
t2 = np.take(dataset.get_target_data(Timestamp.n0hrs), indices, axis=0)

display(t1.shape, t2.shape)

(1218, 30, 30, 37)

(1218, 30, 30)

In [30]:
n_rows = t1.shape[0] * t1.shape[1] * t1.shape[2]
n_cols = t1.shape[3]
X = pd.DataFrame(t1.reshape((n_rows, n_cols)))
X.fillna(0, inplace=True)
X.head(10)

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0000,0.0,0.0,290.599854,57.0,0.710792,-1.795012,1.930619,2.764555,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0384,0.0,0.0,290.599854,57.0,0.710792,-1.795012,1.930619,2.764555,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0000,0.0,0.0,290.599854,57.0,0.710792,-1.795012,1.930619,2.764555,0.0
3,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0096,0.0,0.0,290.599854,57.0,0.710792,-1.795012,1.930619,2.764555,0.0
4,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0000,0.0,0.0,290.599854,57.0,0.710792,-1.795012,1.930619,2.764555,0.0
5,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0000,0.0,0.0,290.599854,57.0,0.710792,-1.795012,1.930619,2.764555,0.0
6,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0256,0.0,0.0,290.599854,57.0,0.710792,-1.795012,1.930619,2.764555,0.0
7,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0032,0.0,0.0,290.599854,57.0,0.710792,-1.795012,1.930619,2.764555,0.0
8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0992,0.0,0.0,290.599854,57.0,0.710792,-1.795012,1.930619,2.764555,0.0
9,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.1248,0.0,0.0,290.599854,57.0,0.710792,-1.795012,1.930619,2.764555,0.0

In [31]:
Y = pd.DataFrame(t2.reshape(n_rows, 1))
Y.head(10)

   0
0  0
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [40]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((822150, 37), (274050, 37), (822150, 1), (274050, 1))

In [41]:
model = RandomForestRegressor()

In [42]:
model.fit(X_train, Y_train)

/home/jovyan/.conda/envs/wildfires/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor()

In [43]:
Y_tt = model.predict(X_test)

In [46]:
from sklearn.metrics import roc_auc_score, roc_curve

display(roc_auc_score(Y_test, Y_tt))

curve = roc_curve(Y_test, Y_tt)

0.9673498312267785

In [63]:
t1[0].shape

(30, 30, 37)

In [68]:
X_meow = t1[0].reshape((30 * 30, 37))

In [70]:
Y_meow = model.predict(X_meow).reshape((30, 30))

In [71]:
plt.imshow(Y_meow)

NameError: name 'plt' is not defined

In [52]:
import h5py

with h5py.File('PUBLIC/DATASETS/Wildfires/uci_ml_hackathon_fire_dataset_2012-05-09_2013-01-01_10k_train.hdf5', 'r') as f:
    train_data = {}
    for k in list(f):
        train_data[k] = f[k][:]

AttributeError: 'tuple' object has no attribute 'flatten'